* {
  margin: 0%;
}
img {
  width: 100%;
  height: auto;
}

.break_over {
  position: relative;
  margin-top: 2rem;
}

.break_over_billede {
  position: relative;
  display: inline-block;
  height: 55svh; /*højde på billede*/
  background-position: 45% 45%; /*placering af billede*/
  object-fit: cover;
}

.break_overskrift {
  position: absolute;

  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
}

.break_skema {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.kategori {
  position: relative;
  margin-top: 2rem;
}

.kategori_billede {
  display: block;
  max-width: 200px;
  /* kan fjernes med andet billede  */
  width: 200px;
  height: 200px;

  border-radius: 50%;
  object-fit: cover;
}

.kategori_tekst {
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.kategori:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
}

@media (min-width: 1000px) {
  .break_skema {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
    margin-top: 4rem;
  }

  .break_overskrift {
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 6rem;
  }
}
