* {
    padding: 0;
    margin: 0;
}

.recipe-img {
    width: 100%;
    display: block;
    max-width: 70vw;
    margin-inline: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}

p {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: #0C4140;
    font-family: "ivypresto-display", serif;
    font-size: 7vw;
}

.grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    padding-inline: 15vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-inline: auto;
    gap: 1rem;
    background-color: #0C4140;

}

.grid_2-1 p,
.grid_3-1 p {
    text-align: center;
    background-color: #E2ECDD;
    padding: 1rem;
    border-radius: 10px;
    align-content: center;
    color: #0C4140;
    font-size: 2vw;
}

.grid_3-1 {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding-inline: 15vw;
    padding-bottom: 1rem;
    margin-inline: auto;
    background-color: #0C4140;
}

h3 {
    color: #E2ECDD;
    font-weight: bold;
    align-self: center;
    font-family: sans-serif;
    font-size: 3vw;
}

.grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-inline: auto;
    max-width: 70vw;
    margin-top: 1rem;
    gap: 5vw;
}

h2 {
    text-align: center;
    color: #0C4140;
    font-family: sans-serif;
}

.grid_3-2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0C4140;
    margin: 1em 0;
    padding: 0;
}

.grid_ing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #E2ECDD;
    gap: 1rem;
    padding: 1rem;
}

.grid_ing p {
    border-bottom: 3px dotted #9FA69B;
    padding-bottom: 1rem;
}

.grid_ins {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: 1px solid black;
    padding: 1rem;
}

.insitem {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 3px dotted #9FA69B;
    padding-bottom: 1rem;
}

.insitem p {
    align-self: center;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    accent-color: #E2ECDD;
    align-self: center;
}

.checked {
    text-decoration: line-through;
}

@media screen and (max-width: 800px) {
    .recipe-img {
        max-width: 90vw;
        aspect-ratio: auto;
    }

    h1 {
        font-size: 8vw;
    }

    .grid_2-1,
    .grid_3-1 {
        gap: 1rem;
        padding-inline: 10vw;
    }



    .grid_2-2 {
        grid-template-columns: 1fr;
        max-width: 90vw;
        margin-top: 1rem;
        gap: 1rem;
    }

    .grid_2-1 p,
    .grid_3-1 p {
        font-size: 1rem;
    }
}